.details-container {
  text-align: center;
  padding: 20px;
}

.movie-poster {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.details-container p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.details-container h1 {
  margin-bottom: 20px;
}
